.sideNavWrapper {
  width: 64px;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  top: 0;
  bottom: 0;
  padding: 0.75rem;
  position: fixed;
  align-items: center;
  border: 2px solid var(--primary-color);
  border-top: 0;
  border-bottom: 0;
}
.sideNavIcon {
  margin: 1rem;
}
a {
  color: var(--primary-color);
}

@media (max-width: 500px) {
  .sideNavWrapper {
    display: none;
  }
}
