.tableContainer {
  overflow-x: auto;
  box-shadow: 0 4px 6px rgba(255, 255, 255, 0.1);
  border-radius: 8px;
  background-color: var(--secondary-color-light);
}

table {
  font-family: 'Lato', sans-serif;
  border-collapse: separate;
  border-spacing: 0;
  width: 100%;
  color: var(--font-color);
  table-layout: fixed;
}

th, td {
  text-align: left;
  padding: 12px 16px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  word-wrap: break-word;
  max-width: 200px; /* Adjust this value as needed */
}

th {
  background-color: var(--secondary-color);
  font-weight: 600;
  text-transform: uppercase;
  font-size: 0.9em;
  letter-spacing: 0.5px;
}

tr:last-child td {
  border-bottom: none;
}

tr:hover {
  background-color: rgba(255, 255, 255, 0.05);
}

td i {
  cursor: pointer;
  transition: color 0.3s ease;
}

td i:hover {
  color: var(--primary-color);
}

.edit-icon, .delete-icon {
  font-size: 1.2em;
}

.edit-icon {
  color: #4caf50;
}

.delete-icon {
  color: #f44336;
}
